{% extends "layout.html" %}
{% load static %}
{% block body %}
        <h1 class="pageTitle">About Us</h1>

        <div class="pageBody">
            <div class="bio">
                <div class="nameandpic">
                    <h2>Evan Meltzer</h2>
                    <img src="{% static 'resources/mrmeltzer.png' %}" alt="evan meltzer profile photo">
                </div>
                <div class="biotextwrap">
                    <p>Evan loved filmmaking since he was 8 years old.
                        He has been using Premiere Pro for 7 years and Blender for 2 years.
                        Evan has experience filming and editing promotional, educational, and
                        informational content for a variety of organizations including Lucky Pen,
                        5th Avenue Theater, ASSA Games, Eastside Prep, iMiracle, and more.
                    </p>
                </div>
            </div>
        </div>

{% endblock %}

{% block script %}
   <script src="{% static 'scripts/about-us.js' %}"></script>
{% endblock %}