{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 class="pageTitle">Classes</h1>
    <p id="classHeader">Right now we are providing three classes, their descriptions are below.</p>
    <div id="classList">
        <div id="PremierePro" >
            <h1 class="classItemTitle">Video Editing</h1>
            <div class="classItem">
                <img src="{% static 'resources/clapperopen.png' %}" alt="evan meltzer profile photo" class="classImage">
                 <p>Superpower Premiere Pro
                    Open to all Middle Schoolers
                    July 18th-July 22nd
                    5:00-7:00 pm
                    Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
                 </p>
             </div>
        </div>
        <div>
            <h1 class="classItemTitle">Coding</h1>
             <div class="classItem">
                 <p style="width:85%">Superpower Premiere Pro
                    Open to all Middle Schoolers
                    July 18th-July 22nd
                    5:00-7:00 pm
                    Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
                 </p>
                 <img src="{% static 'resources/scratchImage.jpg' %}" alt="evan meltzer profile photo" class="classImage" >
             </div>

        </div>
        <div>
            <h1 class="classItemTitle">Art</h1>
             <div class="classItem">
                <img src="{% static 'resources/paintingImage.jpg' %}" alt="evan meltzer profile photo" class="classImage">
                <p>Superpower Premiere Pro
                    Open to all Middle Schoolers
                    July 18th-July 22nd
                    5:00-7:00 pm
                    Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
                 </p>
             </div>
        </div>
    </div>
{% endblock %}

{% block script %}
   <script src="{% static 'scripts/classes.js' %}"></script>
{% endblock %}