{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 class="pageTitle">Classes</h1>
    <div id="classHeader">
        <p id="classDescription">Right now we are providing three classes, their descriptions are below.
        </p>

        <ul id="infolist">
            <li>All classes are offered for ages 11-14</li>
            <li>Classes will take place on Mondays and Wednesdays from July 18th to August 3rd
                <ul class="sublist">
                    <li>July 18th, July 20th, July 25th, July 27th, August 1st, August 3rd</li>
                </ul>
            </li>
            <li>Classes will be held at the following times
                <ul class="sublist">
                    <li>Coding: 12:00 pm to 1:20 pm</li>
                    <li>Filmmaking: 1:30 pm to 2:50 pm</li>
                    <li>Drawing: 3:00 pm to 4:20 pm</li>
                </ul>
            </li>
        </ul>
        <schedule-calendar></schedule-calendar>
    </div>
    <div id="classList">
        <div id="coding" class="classItemWrap">
            <h1 class="classItemTitle">Website Development (Coding)</h1>
             <div class="classItem">
                 <p><img id="web-development" src="{% static 'resources/web_development.png' %}" alt="website image" class="classImage" >
                    Developing your own website might seem like a challenge, but this course helps break it down into simple ideas.
                    In this class, you will use HTML, CSS, and Javascript to design and develop interactive webpages. Students will get to choose their
                     own website ideas which they will implement and put on the web. Creativity has no boundaries with this class and students visions
                     for website will become reality.

                 </p>

             </div>

        </div>
         <div id="classList">
        <div id="coding" class="classItemWrap">
            <h1 class="classItemTitle">Coding with Scratch (Coding)</h1>
             <div class="classItem">
                 <p><img id="scratch-img" src="{% static 'resources/scratchImage.jpg' %}" alt="scratch image" class="classImage" >
                     Have you ever wanted to make your own game? Well now you can!
                     In this course, we will use Block coding to make game design easier than ever before.
                     This course is a perfect introduction for beginners to the awesome world of coding.
                     Students will use Scratch and Code.org to design fun games and solve challenging problems.
                     You will learn to problem solve and think like a real computer scientist, and have lots of fun along the way!
                 </p>

             </div>

        </div>
        <div id="film-making" class="classItemWrap">
            <h1 class="classItemTitle">Film Making</h1>
            <div class="classItem">
                 <p><img src="{% static 'resources/clapperopen.png' %}" alt="open clapperboard" id="clapperboard"class="classImage">
                    Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
                 </p>
             </div>
        </div>

        <div id="art" class="classItemWrap">
            <h1 class="classItemTitle">Art</h1>
             <div class="classItem">
                <p><img src="{% static 'resources/paintingImage.jpg' %}" alt="painting image" class="classImage">In this course you will learn the basics of sketching, inking, and cartooning! We will explore different styles,
                    the fundamentals of drawing, shapes, and expressions as we learn how to view the world through the eye of a cartoonist.
                    This course welcomes people of all levels of experience to come and try out cartooning for themselves.
             </div>
        </div>
    </div>
{% endblock %}

{% block script %}
   <!--<script src="{% static 'scripts/classes.js' %}"></script>-->

{% endblock %}