{% extends "layout.html" %}
{% load static %}
{% block body %}
    <div>
        <h1 class="welcome" >Welcome to the Caravel Project!</h1>
        <div>
            <h3 class="tagline">Classes to empower and inspire teen Ukrainian refugees</h3>
        </div>
    </div>

    <a href="/student-projects" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Click Here To See Student Projects</div>
    </a>
    <!-- <img id="ship" src="{% static 'resources/seaofthieves.jpg' %}" alt="sea of thieves ship"> -->
    <object data="{% static 'resources/Artboard 2.svg' %}" width="300px" height="300px"></object>

{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}