{% extends "layout.html" %}
{% load static %}
{% block body %}
    <div class="">
        <h1 class="pageTitle">Welcome to the "  " Project!</h1>
        <div>
            <h3 class="tagline">Our mission is to teach and our vision is to spark new interests.</h3>
        </div>
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/o3gjy_meRgQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}