{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 class="pageTitle">Sign up</h1>
    <span class="formlink">Use this link if the embedded form is not appearing: <a href="https://forms.gle/oYdA6kMRGXkrH9xF8" target="_blank">https://forms.gle/npKDa3skJjt3pEPH8</a></span>
    <iframe class="googleform" src="https://docs.google.com/forms/d/e/1FAIpQLSckL-DcwJwz__cYtHxRR_ckxmnigdQWa16-mhLykSOOuL8m8g/viewform?embedded=true" width="640" height="2775" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}