{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 class="welcome">Our student-made websites</h1>
    <a href="/student-websites/computer-games" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Computer Games</div>
    </a>
    <a href="/student-websites/dogs" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Dogs</div>
    </a>
    <a href="/student-websites/hot-air-balloon" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Hot Air Balloon</div>
    </a>
    <a href="/student-websites/protein-monster" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Protein Monster</div>
    </a>
    <h1 class="studentvidsheader">Our student-made videos</h1>

    <iframe class="studentvideo" src="https://www.youtube.com/embed/8YataRSBLNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}