{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 id="welcome" >Web Development Students</h1>
    <a class="studentURL" href="/student-websites/RomanH">Roman H Website</a>
    <a class="studentURL" href="/student-websites/RomanM">Roman M Website</a>
    <a class="studentURL" href="/student-websites/Timur">Timur Website</a>
    <a class="studentURL" href="/student-websites/Valeri">Valeri Website</a>
    <a class="studentURL" href="/student-websites/Adam">Adam Website</a>
{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}