{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 class="welcome">Our student-made websites</h1>
    <a href="/student-projects/computer-games" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Computer Games</div>
    </a>
    <a href="/student-projects/parrot" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Parrot</div>
    </a>
    <a href="/student-projects/hotairballoon" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Hot Air Balloon</div>
    </a>
    <a href="/student-projects/nostalgia" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Nostalgia</div>
    </a>
    <a href="/student-projects/protein-monster" class="prettyButtonLinkWrap greentext">
        <div class="prettyButton">Protein Monster</div>
    </a>
    <h1 class="studentvidsheader">Our student-made videos</h1>

    <iframe class="studentvideo" src="https://www.youtube.com/embed/0x2Vq2s2qzo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="studentvideo" src="https://www.youtube.com/embed/hG31PK3Uw4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="studentvideo" src="https://www.youtube.com/embed/5Sk7ta72P94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="studentvideo" src="https://www.youtube.com/embed/8D7O7OqaKBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="studentvideo" src="https://www.youtube.com/embed/A2BqeELr0do" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="studentvideo" src="https://www.youtube.com/embed/roNfJtPNwnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="studentvideo" src="https://www.youtube.com/embed/azwk57FhP8c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}