{% extends "layout.html" %}
{% load static %}
{% block body %}
    <h1 id="welcome" >Web Development Students</h1>
    <a class="studentURL" href="/students/romanH">Roman H Website</a>
    <a class="studentURL" href="/students/romanM">Roman M Website</a>
    <a class="studentURL" href="/students/timur">Timur Website</a>
    <a class="studentURL" href="/students/Valeri">Valeri Website</a>
    <a class="studentURL" href="/students/Adam">Adam Website</a>
{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}