{% extends "infoSite/layout.html" %}
{% load static %}
{% block body %}
    <div class="pagewrapper">
        <h1 class="pageTitle">About Us</h1>

        <div class="pageBody">
            <div class="bio">
                <div class="nameandpic">
                    <h2>Evan Meltzer</h2>
                    <img src="{% static 'infoSite/mrmeltzer.png' %}" alt="evan meltzer profile photo">
                </div>
                <div class="biotextwrap">
                    <p>Mr meltzer like escape rooms, theater, and hot women</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <!--script src="{% static 'BoardGames/active.js' %}"></script-->
{% endblock %}