{% extends "infoSite/layout.html" %}
{% load static %}
{% block body %}
    <h1 class="pageTitle">Classes</h1>

    <div id="classList">
        <div class="classItem">
            <h1 class="classItemTitle">Video Editing</h1>
            <p>Superpower Premiere Pro
                Open to all Middle Schoolers
                July 18th-July 22nd
                5:00-7:00 pm
                Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
             </p>
        </div>
        <div class="classItem">
            <h1 class="classItemTitle">Animation</h1>
            <p>Superpower Premiere Pro
                Open to all Middle Schoolers
                July 18th-July 22nd
                5:00-7:00 pm
                Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
             </p>
        </div>
        <div class="classItem">
            <h1 class="classItemTitle">Music</h1>
            <p>Superpower Premiere Pro
                Open to all Middle Schoolers
                July 18th-July 22nd
                5:00-7:00 pm
                Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
             </p>
        </div>
        <div class="classItem">
            <h1 class="classItemTitle">Cartooning</h1>
            <p>Superpower Premiere Pro
                Open to all Middle Schoolers
                July 18th-July 22nd
                5:00-7:00 pm
                Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
             </p>
        </div>
        <div class="classItem">
            <h1 class="classItemTitle">Calculus 5</h1>
            <p>Superpower Premiere Pro
                Open to all Middle Schoolers
                July 18th-July 22nd
                5:00-7:00 pm
                Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
             </p>
        </div>
        <div class="classItem">
            <h1 class="classItemTitle">Chinese</h1>
            <p>Superpower Premiere Pro
                Open to all Middle Schoolers
                July 18th-July 22nd
                5:00-7:00 pm
                Have you ever wanted to be a superhero? With Premiere Pro you can be! In this course you will learn the basics of Premiere Pro, including keyframes, masking, and special effects. In addition to learning about the digital side of filmmaking, we will also explore the practical side, using miniatures, gravity, and green screens to our advantage. The course will culminate with you making a visual effects shot with any superpower of your choosing.
             </p>
        </div>


    </div>
{% endblock %}

{% block script %}
   <script src="{% static 'infoSite/classes.js' %}"></script>
{% endblock %}