* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

#tab {
    background-color: hsl(100, 60%, 92.5%);
    /*background-color: hsl(0, 0%, 92.5%);*/
    text-wrap: true;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;

}

#tab nav {
    align-self: flex-center;
}

#tab ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 100%;
}

#tab li {
    /*border: solid red 1px;*/
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    display:flex;
    align-items: center;
}

#tab li a {
    color: #1d8351;
    /*color: hsl(0, 0%, 30%);*/
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;


    /*box-sizing: border-box;*/

    display: flex;
    align-items: center;

    padding: 0 0;
    position: relative;
}

#tab li a:after {
    content: '';
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 3px;


    transform: scaleX(0);
    background-color: #AC853A;
    transform-origin: center;
    transition: transform 0.25s ease-out;

}

#tab li a:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}


.pageTitle {
    text-align: center;
    margin: 30px;
    font-size: 25px;
    text-decoration: underline;
}

#luckylogo {
    height: 80%;
    margin: 8%;
    display: inline;
    /*
    box-sizing: border-box;*/
}