/*ABOUT US PAGE*/
h2 {
    font-size:5vw;
}
div.bio:first-child {
    margin-top: 3%;
}

.bio {
    display: flex;
    flex-flow: row nowrap;
    margin: 5% 10%;

    /*box-sizing: border-box;*/
}

div.bio:nth-child(2n) {
    flex-direction: row-reverse;
}

div.bio:nth-child(2n) .biotextwrap {
    padding-left: 0;
    padding-right: 60px;
}

.biotextwrap {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:3vw;
}


.profile-pic {
    width: 350px;
    margin: 2% 0;
}

.nameandpic {
    width: 75%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio p {
    white-space: normal;
    font-size: 1.8vw;
}

/*.clapperboard {
    width: 200px;
    height: 200px;
}

.clapperboard img {
    width: 100%;
    height: 100%;
}*/

.bio h2 {
    font-size: 60px;
}

@media(max-width:1000px) {
    .bio {
        flex-direction: column;
        align-items: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    div.bio:nth-child(2n) {
        align-items: center;
        flex-direction: column;
    }

    .biotextwrap {
        padding: 0px !important;
    }

    .nameandpic {
        max-width: none;
    }

    #main-body {
        margin: 0;
        width: 100%;
    }

    .bio p {
        font-size: 3vw;
    }

    .profile-pic {
        width: 80%;
    }

    .bio h2 {
        font-size: 8vw
    }

}

