.calendar {
    width: 100%;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

table p {
    padding: 0;
    font-size: 1em;
}

th {
    border-bottom: 4px solid #a8d08d;
    padding-bottom: 10px;
    font-size: 1.5em;
}

td {
  border: 2px solid #a8d08d;
  text-align: left;
  padding: 10px 20px;
  vertical-align: baseline;
  width: 20%;
}

td a {
  color: black;
  text-decoration: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

td .classdate {
    margin-left: 13px;
}

.classtimeentry {
    margin: 20px 0;
    padding: 10px 13px;;
    line-height: 1.6;
    border-radius: 10px;
}
.compsci {
    background-color: #ffe599;
}

.moviemake {
    background-color: #bcccea;
}

.drawing {
    background-color: #c5e0b3;
}