/* Class Page */

.classImage {
    height:300px;
    margin:20px;
}

iframe {
    border:2px solid;
    margin: auto;
}

#classList {
    margin-left:5%;
    margin-right:5%;
    text-align: center;
    justify-content: center;
}

.classItem {
    display: flex;
    display:flex;
    margin:18px;
    padding:25px;

}

.classItem h1 {
    margin-bottom: 10px;
    justify-content:top;
    width:100%;
}

p {
    overflow:hidden;
    padding: 15px;
    text-align: left;
    font-size: 2.2rem;

}

#classHeader {
    text-align:center;
    margin:20px;
    border-top: 4px dashed rgba(152, 197, 180, 0.8);
    border-bottom: 4px dashed rgba(152, 197, 180, 0.8);
    width:96.5%
}
