.welcome {
    font-size:2.5em;
    font-weight:bold;
    margin-top:60px;
    text-align:center;
}

.tagline {
    font-size:1.5em;
    padding:20px;

}

#homeschedule {
    margin: 0 20px;
}

.prettyButtonLinkWrap {
    font-size:1.5em;
    text-align:center;
    font-weight: bold;
    text-decoration: none;
    margin: 20px auto;
    width: 60%;
}

.prettyButton {
    padding: 1em;
    /* border: 3px solid black; */
    /* border-radius: 15px; */
    background-color: rgb(163, 227, 163);
    filter: drop-shadow(7px 7px 6px #bcbcbc);
}

.prettyButton:hover {
    background-color: rgb(156, 213, 156);
}

#ship {
    width: 500px;
    margin: auto;
}

.boatclasswrap {
    display: flex;
}

@media (max-width: 1000px) {
    #ship {
        width: 70vw;
    }
}
