#welcome {
    font-size:4.5vw;
    font-weight:bold;
    margin-top:30px;
    text-align:center;
}

.tagline {
    font-size:2vw;
    padding:20px;

}

#homeschedule {
    margin: 0 20px;
}

#students {
    font-size:1.5em;
    text-align:center;
    margin:15 px;
    color:green;
}

.studentURL {
    color:green;
    font-size:2em;
    text-align:center;
    margin:15px;
}