* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

#tab {
/*--top-bar-color: #7adc77;*/
    --top-bar-color: #9ce69a;
    background-color: var(--top-bar-color);
    position: relative;
    /*background-color: hsl(0, 0%, 92.5%);*/
    width: 100%;
    --top-bar-height: 80px;
    height: var(--top-bar-height);
    display: flex;
    justify-content: space-between;

}

#tab nav {
    align-self: flex-center;
}

#tab ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 100%;
}
@media(min-width:426px){
   #tab li a {
       font-size: 25px
    }
}
@media(max-width:711.33px){

    #tab ul {
        height:50%;
        width:400px;
    }

}
@media(max-width:542.67px){


}
@media(max-width:426px){
   #tab li a {
       font-size: 15px
    }
    #tab ul {
        height:50%;
    }
}
#tab li {
    /*border: solid red 1px;*/
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    display:flex;
    align-items: center;
}

#tab li a {
    --text-green: #1d8351;
    color: var(--text-green);
    /*color: hsl(0, 0%, 30%);*/
    text-decoration: none;
    font-weight: bold;


    /*box-sizing: border-box;*/

    display: flex;
    align-items: center;

    padding: 0 0;
    position: relative;
}

#tab li a:after {
    content: '';
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 3px;


    transform: scaleX(0);
    background-color: var(--text-green);
    transform-origin: center;
    transition: transform 0.25s ease-out;

}

#tab li a:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}



#luckylogo {
    height: 80%;
    margin: 8%;
    display: inline;
    /*
    box-sizing: border-box;*/
}

.wave {
    position: absolute;
    z-index: 1;
    top: var(--top-bar-height);
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(304% + 1.3px);
    height: 40px;
}

.wave .shape-fill {
    fill: var(--top-bar-color);
}

#background {
    background-image: linear-gradient(20deg, #9BCBA3, white);
    /*background-image: radial-gradient(gold, white);*/
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    z-index: -2;
    overflow: hidden;
}

#main-body {
    background: white;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 10%;
}


/*HOME PAGE*/

.tagline {
    padding: 20px 0;
    text-align: center;
}


