img.classphoto:first-child {
    margin-top: 70px;
}

.classphoto {
    margin: 15px 3%;
    width:94%;
}


@media (max-width: 1000px) {
    .classphoto {
        margin: 7px 5%;
        width:90%;
    }
  }