{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="{% static 'styles/student-css/hotairballoon.css' %}">
        
        <script src="{% static 'scripts/returnbutton.js' %}"></script>
    </head>
    <body>
    </div>
        <return-button></return-button>
        <div class="backgroundimage">
        <div class="firstDiv">
            <h1 class="pagehead">Hello I am in a div</h1>
        
        </div>
        
            <a href="hotairballoon2">Open!</a> 
            <h1  class="pagecolor">Hot air ballon</h1> 
         <h2 class="pagecolor">How big is it?</h2> 
         <a href="cats">
        
        <img class="image" src="https://cdn.britannica.com/84/158184-050-1D7ADEB5/balloon.jpg">
         </a>
         <p class="pagecolor">Very beatiful things in our world. But,how can people made it? </p>
           <a href="https://www.youtube.com/watch?v=NFkGJEI2eUQ">How to make...</a>
           <ul>
            <li class="air pagecolor"> It is cool</li>
            <li class="air pagecolor">It is very big</li>
           </ul>
           <h1 class="air pagecolor">I love hot air ballon</h1>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/NFkGJEI2eUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <ul>
           <li class="information pagecolor">It's very big mashine</li>
          <li class="information pagecolor">People always use it</li>
          <li class="information pagecolor">This mashine very important in our life</li>
          </ul>
        </div>
    </body>
    
    
</html>