{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="cats.css">
        <link rel='stylesheet' href="{% static 'styles/student-css/nostalgia.css' %}">
        
        <script src="{% static 'scripts/returnbutton.js' %}"></script>
    </head>
    <body>
        <return-button></return-button> 
        <div class="firstdiv">
            
            <h1>aboba</h1>
            <p>OK I PULL UP</p>
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/da989407-5dbb-4023-b781-f0411148f9a5/ddyfb8h-d7422282-b303-485b-b7b4-fdc6b48a2786.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RhOTg5NDA3LTVkYmItNDAyMy1iNzgxLWYwNDExMTQ4ZjlhNVwvZGR5ZmI4aC1kNzQyMjI4Mi1iMzAzLTQ4NWItYjdiNC1mZGM2YjQ4YTI3ODYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JKcfuSR_RuvosS9PRBOZuUeeqfON-Kh5Po76jS6Fb5w">
        </div>
        <a href="nostalgia2">Second Page!</a>
        <a href="https://youtu.be/PwntOHwwZxA">Click Me!</a>
        <div>
            <h1>Dogs</h1>
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*">
            <p class="bolt"> i like this dog becouse he is funny</p>

            <ul>
                <li class="bolt">funny looking</li>
                <li class="add">ladno</li>
                <li class="add">i love dog</li>

            </ul>
            <a href="https://en.wikipedia.org/wiki/Dog">dog</a>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SCwcJsBYL3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
    
    
    
</html>

 