{% load static %}
<!DOCTYPE html>

<html>

    <head>

        <link rel='stylesheet' href="{% static 'styles/student-css/parrot.css' %}">
        <script src="{% static 'scripts/parrot.js' %}"></script>

        <script src="{% static 'scripts/returnbutton.js' %}"></script>
    </head>
    <body>
        <return-button></return-button>

        <div class="PO">
        
            <h1>Parrot</h1>
            <h1 > dijgdfg </h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVU-tXOOw7VVanADOYgv4VU4SHekDvWrfeJA&usqp=CAU">
            <p>Parrot is so colorful</p>
            
            <ul>
                <li class="RO">is colorful</li>
                <li>is colorful</li>
                <li>is colorful</li>
                <li class="RO">he can fly</li>
                <li>he can talk</li>
            </ul>
    
            <a href="jacobs">second page</a>
    
        </div>

    </body>
    
    
</html>

 
