<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <a style="font-size:1.5em" href="/student-projects"> Return To Project Caravel</a>

        <div style="background-color:aqua;">
        <h1 style="color:rgb(26, 21, 8); background-color: rgb(10, 86, 226);">monkey</h1>

        <h2 style="color:rgb(14, 15, 15)">ptotein monster</h2>
        <image style="border:4px rgb(8, 8, 232) solid"src="https://cdn.mos.cms.futurecdn.net/xKZUpymtYqQa4kRVw6nDdN.jpg">

        <p> age : unknown</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PYar0dkZ6v8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>