<a style="font-size:1.5em" href="/"> Return To Project Caravel</a>

<!DOCTYPE html>
<html>
    <head>
<style>

</style>
    </head>
    <body>
        <div style="background-color:rgb(147, 158, 157)";>
        <h1 style="text-align:center;:rgb(21, 21, 35); background:rgb(156, 137, 228)">Hot air ballon</h1>
         <h2 style="color:purple">How big is it?</h2>
         <image style="border:5px rgb(236, 252, 19) solid;" height="200" src="https://cdn.britannica.com/84/158184-050-1D7ADEB5/balloon.jpg">
           <p>Very beatiful things in our world. But,how can people made it? </p>
           <a href="https://www.youtube.com/watch?v=NFkGJEI2eUQ">How to make...</a>
           <ul>
            <li>It is cool</li>
            <li>It is very big</li>
           </ul>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/NFkGJEI2eUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
    </body>


</html>

